@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Slick */
.slick-arrow::before {
  color: black !important;
}

.dark .slick-arrow::before {
  color: white !important;
}

.dark .slick-dots li.slick-active button:before {
  color: white;
}

.dark .slick-dots button:before {
  opacity: 25%;
  color: white;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.heading-background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}

.markdown > ul{
  list-style-type: disc;
  padding-left: 40px;
  margin: 16px 0 16px 0;
}

.markdown > p > a{
  text-decoration: underline;
  color: #080871;
  word-wrap: break-word;
}
