@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Slick */
.slick-arrow::before {
  color: black !important;
}

.dark .slick-arrow::before {
  color: white !important;
}

.dark .slick-dots li.slick-active button:before {
  color: white;
}

.dark .slick-dots button:before {
  opacity: 25%;
  color: white;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
